:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --main-heading-color: #ffffff;
  --contact-info-color: rgba(255, 255, 255, 0.6);
  --hero-footer-bcgcolor: #2f303a;
  --team-bcgcolor: #f5f4fa;
  --logo-color: #000000;
  --button-bcgcolor: #188ce8;
}

/* MAIN PAGE */

/* Body */

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.sub-heading {
  color: var(--secondary-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.button {
  font-family: inherit;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* Header Section*/

.header-section {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-list {
  color: var(--secondary-text-color);
}

.nav-list .site-link {
  color: var(--secondary-text-color);
}

.nav-list .site-link:hover,
.nav-list .site-link:focus {
  color: var(--accent-color);
}

.nav-list .link.current {
color: var(--accent-color);
}

.contacts-list .contacts-link {
  font-style: normal;

  color: var(--primary-text-color);
}

.contacts-list .contacts-link:hover,
.contacts-list .contacts-link:focus {
  color: var(--accent-color);
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--logo-color);
}
.logo-name {
  color: var(--accent-color);
}

/* Hero section */

.title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--main-heading-color);
}
.hero-section-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--main-heading-color);
  background-color: var(--accent-color);
}

.hero-section-button:hover,
.hero-section-button:focus,
.hero-section-button:active {
  background-color: var(--button-bcgcolor);
}
.hero-section {
  background-color: var(--hero-footer-bcgcolor);
}

/* Features-section */

.features-list .sub-heading {
  font-size: 18px;
  line-height: 1.14;
  text-transform: uppercase;
}

/* About Section */

.about-section-heading {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  color: var(--secondary-text-color);
}

/* Team section */

.team-section-heading {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  color: var(--secondary-text-color);
}

.team-section {
  background-color: var(--team-bcgcolor);
}
.team-list > li {
  background-color: var(--main-heading-color);
}

.team-list .team-description,
.team-list .sub-heading {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-list .sub-heading {
  font-weight: 500;
}

/* Footer Section*/

.footer-section {
  background-color: var(--hero-footer-bcgcolor);
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--main-heading-color);
}

.contact-address {
  color: var(--main-heading-color);
}

.contact-email,
.contact-phone {
  color: var(--contact-info-color);
}

.address {
  font-style: normal;
}

.contact-list-item .link:hover,
.contact-list-item .link:focus {
  color: var(--accent-color);
}

/* PORTFOLIO PAGE */

/* Button list */

.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  background-color: var(--team-bcgcolor);
  color: var(--secondary-text-color);
}

.filter-button:hover,
.filter-button:focus,
.filter-button:active {
  background-color: var(--accent-color);
  color: var(--main-heading-color);
}

/* Portfolio list */

.portfolio-link .portfolio-heading {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--secondary-text-color);
}

.portfolio-link .portfolio-description {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
